{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="not-found" class="d-flex align-items-center" style="min-height: 80vh; background-color: #37517e;">
  <div class="container text-center" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img src="{% static 'images/404.svg' %}" class="img-fluid mb-4" alt="404 Not Found" style="max-height: 300px;">
        <h1 class="display-4 fw-bold">Sahifa topilmadi.</h1>
        <p class="lead">Kechirasiz, siz qidirayotgan sahifa mavjud emas yoki o'chirib tashlangan!</p>
        <!-- <a href="/" class="btn btn-primary mt-3"><i class="bi bi-house-door-fill"></i> Bosh sahifaga qaytish</a> -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}